extends layout
block content
    if (!user)
        a(href="/authentication/login") Login
        br
        a(href="/authentication/register") Register
    if (user)
        p You are currently logged in as #{user.username}
        a(href="/authentication/logout") Logout
    div(id="search")